body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    overflow: hidden;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

button,
label,
input,
select,
progress,
meter {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}

.side-hero {
    position: relative;
    background-position: center;
    background-size: auto;
    max-width: 670px;
    height: 100vh;
}

img.resize {
    height: 100vh;
}

div.logo {
    background: #1c1c1c;
    opacity: 70%;
    padding: 10px 0px;

    position: absolute;
    top: 15em;
    width: 100%;
    
    color: whitesmoke;
    text-align: center;
    text-justify: center;
    font: 600;
}

img.logo-img {
    width: 100px;
    height: auto;
}

.img-credits {
    position: absolute;
    bottom: 8px;
    max-width: 100%;
    text-align: center;
    width: 100%;
}

.img-credits,
.img-credits a {
    color: white;
}

div.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
}

div.right > div {
    padding-left: 8rem;
}

.info {
    color: #1d1717;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 2rem;
}

form {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
}

.form { 
    box-shadow: 0px 5px 10px #d1cdcd;
    padding: 1.5rem 8rem;
    margin: 2rem 0rem;
}

form div {
    width: 40%;
    flex-direction: column;
}

.form .encourage {
    font-size: 42px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 2rem;
}

.form label {
    font-size: 20px;
    text-overflow: ellipsis;
}

input{
    appearance: none;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    height: 1.75rem;
    padding: 0.2rem 0.5rem;
    text-overflow: clip;
}

input:hover {
    border: 1px solid #bbbdc2;
}

input:focus {
    outline: none;
    border: 1px solid #2f5de7;
    box-shadow: 2px 3px 5px rgb(213, 211, 211);
}

input:invalid {
    border: 1px solid red;
    outline: none;
}

button.create-account {
    border: none;
    background-color: #596D48;
    border-radius: 10px;
    color: white;

    width: 12rem;
    height: 3.5rem;
    
    margin-left: 8rem;
}

.create-account:focus {
    outline: none;
    box-shadow: 2px 3px 5px rgb(177, 175, 175);
}